#MenuBackground {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 300vh;
  width: 100vw;
  background: var(--se-black-transparent);
  z-index: 21;
}

#Menu {
  position: fixed;
  background: var(--se-white);
  top: -100vh;
  left: 0;
  height: 300vh;
  width: 250px;
  border: 0;
  padding: calc(100vh + 16px) 16px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 22;
  transition: transform 0.32s ease, box-shadow 0.32s ease 0.16s,
    background 0.32s ease;

  @mixin mobile {
    @media (max-width: 599px) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @include desktop {
    top: 84px;
    left: 32px;
    padding: 16px;
    height: calc(100vh - 116px);
    border-radius: 8px;
    border: 1px solid var(--se-grey-light);
  }

  @include mobile {
    left: unset;
    right: 0;
    &.open {
      transform: translateX(0px);
      box-shadow: var(--se-shadow-large);
    }
    &.closed {
      transform: translateX(300px);
    }
  }

  a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #UserProfile {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--se-grey-light);
    border-radius: 8px;
    padding: 8px;
    #ProfileImg {
      opacity: 1;
      pointer-events: all;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      object-fit: cover;
      border: 2px solid var(--primary);
      background: var(--se-blue-primary);
    }
    div {
      display: flex;
      margin-left: 8px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;

      #UserName {
        max-width: 100%;
        font-size: 16px;
        transition: opacity 0.32s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }
      #UserEmail {
        max-width: 100%;
        margin: 3px 0 0 1px;
        font-size: 10px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: opacity 0.32s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      #UserProfile-permission {
        max-width: 100%;
        margin: 3px 0 0 1px;
        font-size: 10px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: opacity 0.32s ease;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        i {
          margin-right: 4px;
          font-size: 8px;
        }
      }
    }
    #Close {
      cursor: pointer;
      font-size: 24px;
      padding-left: 8px;
      margin-left: auto;
    }
  }

  #MenuContent {
    padding: 32px 0 16px 0;
    width: 100%;
    #ToggleContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
      font-size: 18px;
      font-weight: 600;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .Menu-link {
        // transition: color 0.1s ease;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          font-weight: 500;
          padding: 2px 0;
        }
      }
    }
  }
}
