@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin page {
  padding: 92px 16px 48px 16px;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  margin: auto;
  z-index: 1;
  overflow-x: hidden;
  opacity: 1;
  animation: fade-in 0.32s ease forwards;
  height: 100vh;
  overflow-y: auto;

  @include desktop {
    padding: 84px 32px 48px 314px;
    max-width: 1100px;
  }
}

.se-page {
  @include page;
  h1,
  p {
    color: white;
  }
}
