#Albums {
  margin: 0 auto;
  color: white;

  input {
    color: black;
  }

  // #Contracts-Container {
  //   display: 'flex';
  //   flex-wrap: 'wrap';
  // }

  // .Contract-Card {
  //   margin: '12px';
  //   border-radius: '12px';
  // }
}
